<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>

        SecurePortScanner

    </title>

    <link

        rel="stylesheet"

        href="{{ url_for('static', filename='style.css') }}"

    >

</head>

<body>

    <div class="container">

        <h1>

            SecurePortScanner

        </h1>

        <p>

            Web-Based Network Port Scanner
            & Service Analyzer

        </p>

        <form action="/scan" method="POST">

            <input

                type="text"

                name="target"

                placeholder="Enter Target IP"

                required

            >

            <input

                type="number"

                name="start_port"

                placeholder="Start Port"

                required

            >

            <input

                type="number"

                name="end_port"

                placeholder="End Port"

                required

            >

            <button type="submit">

                Start Scan

            </button>

        </form>

    </div>

</body>

</html>
